---
name: build

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: 11.0.x
      - name: Set up dot
        run: sudo apt-get install -y graphviz
      - name: Allow script execution
        run: sudo chmod +x generate-en.sh
      - name: Generate English adocs
        run: ./generate-en.sh 
      - uses: actions/cache@v1
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-maven-
      - name: Build with Maven
        run: mvn install -Dmaven.javadoc.skip=true
      - name: Copy lecture 1
        run: cp -R lecture01/target/generated-slides slides/target/generated-slides/lecture01
      - name: Copy lecture 2
        run: cp -R lecture02/target/generated-slides slides/target/generated-slides/lecture02 
      - name: Deploy to GitHub Pages
        if: success() && github.ref == 'refs/heads/master'
        uses: crazy-max/ghaction-github-pages@v2
        with:
          target_branch: gh-pages
          build_dir: slides/target/generated-slides
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
